<script src="https://kit.fontawesome.com/e4e53f0238.js" crossorigin="anonymous"></script>
<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/stocks" class="">Stocks</a>
            </li>
            <li>
                <a href="/news" class="">News</a>
            </li>
            <li>
                <a href="/cryptos" class="">Crypto</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>